*{
    padding: 0;
    margin: 0;
}

body{
    position:relative;
    top: 0;
    left:0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: url(gambar/metabolic.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.judul{
    /* background-color: aqua; */
    margin: 0 auto;
    width: 800px;
    height: 40px;
    padding: 10px;
    z-index: 2;
    font-family: 'Fredericka the Great', cursive;
    font-size: larger;
}

.judul h1{
    text-align: center;
}


/* bagian menu bawah */
.menu{
    width: 100%;
    height: 80px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    position: absolute;
    /* left: 50%; */
    /* transform: translate(-50%, -0%); */
     bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */

        
}

.lingkar{
    
    height:85px;
    width:85px;
    border-radius: 100%;
    float: left;
    /* margin: 0 auto;  */
    margin-top: 9px;
    overflow: hidden;
    display: flex;
    margin-right: 20px;
}
.home{
    position: absolute;
    z-index: 3;
    left: 90%;
    margin-top: 10px;
    display: flex;
}

.wrap{
    border-radius: 100%;
    height:60px;
    width:60px;
    float: right;
    background: url(gambar/home.png); 
    background-size: cover;
    background-position: center;
    cursor: pointer;

}

.icon1{
    width: 100%;
    background: url(gambar/petunjuk.png);
    background-size: cover;
    background-position: center;
}

.icon2{
    width: 100%;
    background: url(gambar/kd.png);
    background-size: cover;
    background-position: center;
}

.icon3{
    width: 100%;
    background: url(gambar/materi.png);
    background-size: cover;
    background-position: center;
}

.icon4{
    width: 100%;
    background: url(gambar/vidio.png);
    background-size: cover;
    background-position: center;
}

.icon5{
    width: 100%;
    background: url(gambar/game.png);
    background-size: cover;
    background-position: center;
}

.icon6{
    width: 100%;
    background: url(gambar/asah.jpg);
    background-size: cover;
    background-position: center;
}

.icon7{
    width: 100%;
    background: url(gambar/team.png);
    background-size: cover;
    background-position: center;
    
}

.menu .lingkar:hover{
    cursor: pointer;
}

.overlay{
    display: flex;
    position: absolute;
    height:85px;
    width:85px;
    border-radius: 100%;
    float: left;
    /* margin: 0 auto;  */
    display: flex;
    margin-right: 20px;
    opacity: 0;
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0; */
    transition: opacity 0.4s ease-in-out;
    background:greenyellow;
    cursor: pointer;
}

.content{
    position: absolute;
     top: 50%;
    left: 50%;
     transform: translate(-50%,-50%); 
    color: white;
    text-align: center;
}

.lingkar:hover .overlay{
    opacity: 0.8;
}


/* untuk latar putih */
.latar{
    width: 95%;
    height: 83vh;
    /* padding: 20px; */
    background:whitesmoke;
    /* code di bawah ini akan membuat div berada di tengah-tengah */
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    overflow: hidden;

}


.latar  .tag p{
    margin-top: 20px;
    margin-left: 50px;
    font-family: 'Rampart One', cursive;
    
}

.tag{
    border-radius: 100%;
    height:60px;
    width:70px;
    background: url(gambar/fire.png);
    background-size: cover;
    background-position: center;
    margin-left: 50px;

}

/* untuk tombol kembali */
.kembali{
    border-radius: 100%;
    height:60px;
    width:70px;
    background: url(gambar/left.png); 
    background-size: cover;
    background-position: center;
    margin-left: 80px;
    cursor: pointer;

}




/* css untuk halaman home */
.semangat{
    width: 90%;
    height: 60vh;
    position: relative;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-size: cover;
    justify-content: center;


}


/* css untuk halaman petunjuk */
.petunjuk{

    width: 90%;
    height: 60vh;
    /* padding: 20px; */
    background:#caff78;
    /* code di bawah ini akan membuat div berada di tengah-tengah */
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

}

.petunjuk p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 4vh;
    padding-top: 30px;
    margin-left: 40px;
}

.petunjuk h3{
    text-align: center;
    color: black;
    padding-top: 5px;
    font-family: 'Rampart One', cursive;
    font-size: 5vh;
}

/* css halaman materi */

.materi{
    width: 90%;
    height: 75vh;
    /* code di bawah ini akan membuat div berada di tengah-tengah */
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    /* background-color: black;  */
    margin-top: 60px;
    justify-content: center;
    


}

.container{
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-template-rows: minmax(100px,auto);
    grid-auto-flow: dense;
    grid-gap: 10px;
}

.container .box{
    color: #fff;
    background:#4d798a;
    display: grid;
    font-size: 20px;
    place-items: center;
    text-align: center;
    transition: 0.5s;
}

.container .box:hover{
    background:#74eafc;
    cursor: pointer;
}

.container .box img{
    position: relative;
    max-width: 200px;
    margin-bottom: 10px;
}

.container .box:nth-child(1){
    grid-column: span 2;
    grid-row: span 1;
}

.container .box:nth-child(2){
    grid-column: span 1;
    grid-row: span 2;
}

.container .box:nth-child(3){
    grid-column: span 1;
    grid-row: span 2;
}

.container .box:nth-child(4){
    grid-column: span 1;
    grid-row: span 1;
}

.container .box:nth-child(5){
    grid-column: span 1;
    grid-row: span 1;
}


/* pengenalan */
.pengenalan img{
    max-width: 100%;
    height: auto;
}


/* css untuk materi zat makanan */
.zatmakanan{
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px,1fr));
    grid-template-rows: minmax(50px,auto);
    grid-auto-flow: dense;
    grid-gap: 10px;
    justify-content: center;
}
.zatmakanan .boxisi:hover{
    background:#74eafc;
    cursor: pointer;
}
.zatmakanan .boxisi img{
    position: relative;
    max-width: 50px;
}


.zatmakanan .boxisi{
    color: #fff;
    background:#4d798a;
    display: grid;
    font-size: 15px;
    place-items: center;
    text-align: center;
    transition: 0.5s;
}

.zatmakanan .boxisi:nth-child(1){
    grid-column: span 1;
    grid-row: span 1;
}

.zatmakanan .boxisi:nth-child(2){
    grid-column: span 1;
    grid-row: span 1;
}

.zatmakanan .boxisi:nth-child(3){
    grid-column: span 1;
    grid-row: span 1;
}
.zatmakanan .boxisi:nth-child(4){
    grid-column: span 1;
    grid-row: span 1;
}

.zatmakanan .boxisi:nth-child(5){
    grid-column: span 1;
    grid-row: span 1;
}

.zatmakanan .boxisi:nth-child(6){
    grid-column: span 1;
    grid-row: span 1;
}

/* isi materi di zat makanan */
.isimateri {
    margin-top: 20px;
    background:beige;
    width: 90%;
    height: 60vh;
    margin-left: 60px;

}


/* css untuk materi organ pencernaan */

.organ{
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px,1fr));
    grid-template-rows: minmax(50px,auto);
    grid-auto-flow: dense;
    grid-gap: 10px;
    justify-content: center;
}
.organ .boxnya:hover{
    background:#74eafc;
    cursor: pointer;
}
.organ .boxnya img{
    position: relative;
    max-width: 50px;
}


.organ .boxnya{
    color: #fff;
    background:#4d798a;
    display: grid;
    font-size: 15px;
    place-items: center;
    text-align: center;
    transition: 0.5s;
}

.organ .boxnya:nth-child(1){
    grid-column: span 1;
    grid-row: span 1;
}

.organ .boxnya:nth-child(2){
    grid-column: span 1;
    grid-row: span 1;
}

.organ .boxnya:nth-child(3){
    grid-column: span 1;
    grid-row: span 1;
}
.organ .boxnya:nth-child(4){
    grid-column: span 1;
    grid-row: span 1;
}

.organ .boxnya:nth-child(5){
    grid-column: span 1;
    grid-row: span 1;
}

.organ .boxnya:nth-child(6){
    grid-column: span 1;
    grid-row: span 1;
}

/* isi materi di zat makanan */
.isimateri2 {
    background:beige;
    width: 90%;
    height: 60vh;
    margin-left: 60px; 
    display: grid;
    grid-template-areas: "struktur keterangan"; 
    gap:10px;
    margin-top: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr)); 
    justify-content: center;

}

.struktur{
    grid-area: struktur;
    min-height: 150px;
    padding-left: 60px;
    width: 400px;
}
.struktur img{
    max-width: 100%;
    height: auto;
}


.keterangan{
    grid-area: keterangan;
    width: 600px;
}


/* css untuk halaman materi cara merawat organ pencernaan */


.rawat{
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-template-rows: minmax(100px,auto);
    grid-auto-flow: dense;
    grid-gap: 10px;
}

.rawat .boxrawat{
    color: #fff;
    background:#4d798a;
    display: grid;
    font-size: 20px;
    place-items: center;
    text-align: center;
    transition: 0.5s;
}

.rawat .boxrawat:hover{
    background:#74eafc;
    cursor: pointer;
}

.rawat .boxrawat img{
    position: relative;
    max-width: 200px;
    margin-bottom: 10px;
}

.rawat .boxrawat:nth-child(1){
    grid-column: span 1;
    grid-row: span 1;
}

.rawat .boxrawat:nth-child(2){
    grid-column: span 1;
    grid-row: span 2;
}

.rawat .boxrawat:nth-child(3){
    grid-column: span 1;
    grid-row: span 1;
}

.rawat .boxrawat:nth-child(4){
    grid-column: span 1;
    grid-row: span 1;
}

.rawat .boxrawat:nth-child(5){
    grid-column: span 1;
    grid-row: span 1;
}

.rawat .boxrawat:nth-child(6){
    grid-column: span 2;
    grid-row: span 1;
}


/* css untuk halaman quizzz */
::selection{
    color: #fff;
    background: #007bff;
}
.start_btn,
.info_box,
.quiz_box,
.result_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}
.start_btn button{
    font-size: 25px;
    font-weight: 500;
    color: #007bff;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
}
.info_box{
    width: 540px;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.info_box .info-title{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    font-weight: 600;
}
.info_box .info-list{
    padding: 15px 30px;
}
.info_box .info-list .info{
    margin: 5px 0;
    font-size: 17px;
}
.info_box .info-list .info span{
    font-weight: 600;
    color: #007bff;
}
.info_box .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
    border-top: 1px solid lightgrey;
}
.info_box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: all 0.3s ease;
}
.quiz_box{
    width: 550px;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.quiz_box header{
    position: relative;
    z-index: 2;
    height: 70px;
    padding: 0 30px;
    background: #fff;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}
.quiz_box header .title{
    font-size: 20px;
    font-weight: 600;
}
.quiz_box header .timer{
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
    height: 45px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
}
.quiz_box header .timer .time_left_txt{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}
.quiz_box header .timer .timer_sec{
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color: #fff;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: #343a40;
    border: 1px solid #343a40;
    user-select: none;
}
.quiz_box header .time_line{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: #007bff;
}
section{
    padding: 25px 30px 20px 30px;
    background: #fff;
}
section .que_text{
    font-size: 25px;
    font-weight: 600;
}
section .option_list{
    padding: 20px 0px;
    display: block;   
}
section .option_list .option{
    background: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 17px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section .option_list .option:last-child{
    margin-bottom: 0px;
}
section .option_list .option:hover{
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
}
section .option_list .option.correct{
    color: #155724;
    background: #d4edda;
    border: 1px solid #c3e6cb;
}
section .option_list .option.incorrect{
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}
section .option_list .option.disabled{
    pointer-events: none;
}
section .option_list .option .icon{
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    pointer-events: none;
    transition: all 0.3s ease;
    line-height: 24px;
}
.option_list .option .icon.tick{
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
}
.option_list .option .icon.cross{
    color: #a42834;
    background: #f8d7da;
    border-color: #a42834;
}
footer{
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
}
footer .total_que span{
    display: flex;
    user-select: none;
}
footer .total_que span p{
    font-weight: 500;
    padding: 0 5px;
}
footer .total_que span p:first-child{
    padding-left: 0px;
}
footer button{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background: #007bff;
    border: 1px solid #007bff;
    line-height: 10px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
}
footer button:hover{
    background: #0263ca;
}
footer button.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}
.result_box{
    background: #fff;
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 450px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.result_box .icon{
    font-size: 100px;
    color: #007bff;
    margin-bottom: 10px;
}
.result_box .complete_text{
    font-size: 20px;
    font-weight: 500;
}
.result_box .score_text span{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}
.result_box .score_text span p{
    padding: 0 4px;
    font-weight: 600;
}
.result_box .buttons{
    display: flex;
    margin: 20px 0;
}
.result_box .buttons button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: all 0.3s ease;
}
.buttons button.restart{
    color: #fff;
    background: #007bff;
}
.buttons button.restart:hover{
    background: #0263ca;
}
.buttons button.quit{
    color: #007bff;
    background: #fff;
}
.buttons button.quit:hover{
    color: #fff;
    background: #007bff;
}